*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px calc(100vh-200px);
    grid-template-columns: 200px 1fr;
}
header{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1rem;
    background-color: yellow;
    grid-column-start: 1;
    grid-column-end: 3;
}

aside{
    background-color: aquamarine;
}
main{
    background-color: blueviolet;
    justify-content: center;
    align-content: center;
    display:grid;
    grid-template-columns: repeat(auto-fit,20rem);
    gap:2rem;
    padding:3rem 2 rem;

}

.card{
    height:200px;
    background-color: orange;

}
